@import url('fonts/fonts.css');
@import url("bootstrap.min.css");

/* ==========================================================================
   Global
   ========================================================================== */

body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1.125rem;
    color: #212327;
}

a {
    color: #527CBB;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    transition: all 200ms ease;
    outline: 0;
    text-decoration: none;
}

a:hover {
    color: #212327;
    text-decoration: none;
    outline: 0;
}

strong, b {
    font-weight: bold;
}

h1, h2, h3, h4, h5 {
    font-weight: 700;
    color: #212327;
}

input:focus, input.form-control:focus {
    outline: none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.img-responsive {
    display: block;
    width: 100%;
}

.display-mobile {
    display: none;
}

.container {
    max-width: 1420px;
}

/* ==========================================================================
   Header
   ========================================================================== */

.header-over {
    position: relative;
    background-color: #FF0420;
}

.home .header-over {
    overflow: hidden;
    z-index: 4;
}

.header-over .star {
    position: absolute;
    top: -11%;
    left: -40%;
    width: 131%;
    height: 111%;
    background-image: url("../images/star-bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.home .header-over .star{
    z-index: 5;
}

.header {
    padding: 2em 0 0 0;
    position: relative;
}

.home .header {
    z-index: 6;
}

.header .logo {
    display: block;
    background: none;
    color: transparent;
    text-decoration: none;
}

.header .navbar {
    padding: 0;
    margin: 0;
}

.header .navbar-nav .nav-link {
    display: inline-block;
    position: relative;
    margin: 0.5em 1em 0 1em;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    font-style: normal;
    color: #ffffff;
    transition: all 0.75s ease-in-out;
}

.header .navbar-nav .active .nav-link,
.header .navbar-nav .nav-link:hover,
.header .navbar-nav .nav-link:focus {
    color: #212327;
}

.dropdown-toggle::after {
    display: none;
}

.header .navbar-nav .dropdown-menu {
    background: #FF0420;
    border: none;
    z-index: 400;
    padding: 1em;
    margin: -2px 0 0 0;
    overflow: hidden;
}

.header .navbar-nav .dropdown-menu li{
    padding: 0;
}

.header .navbar-nav .dropdown-menu a {
    padding: 0.25em 0;
    font-family: 'Rubik', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    font-style: normal;
    color: #ffffff;
    transition: all 0.75s ease-in-out;
}

.header .navbar-nav .dropdown-menu .dropdown-item.active,
.header .navbar-nav .dropdown-menu a:hover {
    background: none;
    font-size: 1rem;
    font-weight: 600;
    font-style: normal;
    color: #212327;
}

.header-bottom h1 {
    margin: 0.75em 0 0.5em 0;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 5.625rem;
    line-height: 5.6875rem;
    color: #FFFFFF;
}

.header-bottom .text {
    padding-right: 5em;
    font-style: normal;
    font-size: 1.5rem;
    line-height: 2.4375rem;
    color: #FFFFFF;
}

.header-bottom .intro-image {
    padding-top: 5em;
}

/* ==========================================================================
   Home About
   ========================================================================== */

.home-about {
    padding: 5em 0;
    background: url("../images/home-about-bg.svg") center -9em no-repeat;
    background-size: 80%;
}

.home-about h2 {
    margin-bottom: 2em;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 1.1;
    color: #212327;
}

.home-about .text {
    margin: 0 0 5em 0;
    padding: 0 0 0 0.5em;
    width: 60%;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.43rem;
    color: #212327;
}

.home-about h3 {
    margin-bottom: 1em;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 1.1;
    color: #212327;
}

/* ==========================================================================
   Home Founded
   ========================================================================== */

.home-founded {
    margin: 0 0 5em 0;
    background: url("../images/home-founded-bg.svg") right center no-repeat;
    background-size: contain;
}

.home-founded h2 {
    margin: 0.5em 0 1.25em 0;
    font-family: 'Rubik', sans-serif;
    font-style: italic;
    font-weight: 600;
    font-size: 4.5rem;
    line-height: 5.6875rem;
    color: #212327;
}

.home-founded .text {
    margin: 0 0 3em 0;
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.4375rem;
    color: #212327;
}

/* ==========================================================================
   Home Projects
   ========================================================================== */

.project-list .project-link {
    display: block;
    width: 100%;
    height: 100%;
    padding: 1.5em;
    border-radius: 30px;
    box-shadow: 0 0 0.4em rgba(0, 0, 0, 0.15);
}


.project-list .project-link span {
    display: block;
}

.project-list .project-link .project-link-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5em;
    font-size: 0.875rem;
}

.project-list .project-link .project-link-top h3 {
    display: flex;
    font-style: normal;
    font-weight: 600;
    font-size: 0.875rem;
    color: #212327;
}

.project-list .project-link span.image {
    width: 100px;
    height: 100px;
    background-position: center center;
    background-size: cover;
    border-radius: 10px;
}

.project-list .project-link span.title {
    margin-bottom: 1em;
    font-family: 'Rubik', sans-serif;
    font-style: italic;
    font-weight: 600;
    font-size: 1.75rem;
    color: #212327;
}

.project-list .project-link .text {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    color: #212327;
}

.project-list .project-link:hover .title {
    color: #FF0420 !important;
}

/* Category Projects */
.category-projects .nav {
    display: block;
    width: 100%;
    text-align: center;
    margin: 0 0 3em 0;
}

.category-projects .nav li {
    display: inline-block;
    width: auto;
    margin: 0 0.5em;
}

.category-projects .nav li a {
    padding: 0.75em 1.5em;
    font-style: normal;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.1;
    color: #212327;
    background: none;
    border-color: #817f7f;
    border-radius: 10px;
}

.category-projects .nav li a[aria-expanded="true"],
.category-projects .nav li a:focus,
.category-projects .nav li a:hover {
    background: none;
    color: #FF0420;
    border-color: #FF0420;
}

/* Single */
.project-intro {
    margin: 0 0 5em 0;
}

.project-intro .img-holder {
    display: inline-block;
    border: 1px solid #817f7f;
    text-align: center;
    border-radius: 10px;
    margin: 0 3em 0 0;
    box-shadow: 0 0 0.4em rgba(0, 0, 0, 0.15);
}

.project-intro img {
    display: inline-block;
    width: 180px;
    border-radius: 10px;
}

.project-intro .value h3 {
    font-size: 1.125rem;
    line-height: 1.75;
    color: #212327;
}

.project-intro .value h3 {
    width: auto;
    display: inline-block;
    font-size: 1.5rem;
    line-height: 1.75;
    color: #FF0420;
}

/* ==========================================================================
   Footer
   ========================================================================== */

.footer .footer-inside {
    padding-top: 5em;
    padding-bottom: 1em;
    background: url("../images/footer-bg.png") center center no-repeat;
    background-size: cover;
}

.socials a {
    display: inline-block;
    margin: 0 1em 0 0;
    width: 24px;
    height: 24px;
    text-indent: -9999px;
}

.twitter {
    background: url("../images/twitter.svg") center center no-repeat;
}

.github {
    background: url("../images/github.svg") center center no-repeat;
}

.discord {
    background: url("../images/discord.svg") center center no-repeat;
}

.linkedin {
    background: url("../images/linkedin.svg") center center no-repeat;
}

.footer .menu ul {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer .menu ul li {
    display: inline-block;
    padding: 0 1em 0 0;
}

.footer .menu ul li a {
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.375rem;
    color: #212327;
}

.footer .menu ul li a:hover {
    color: #FF0420;
}

.footer-third {
    text-align: right;
    line-height: 32px;
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    leading-trim: both;
    text-edge: cap;
    color: #212327;
}

.footer-third a {
    line-height: 32px;
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    color: #212327;
}

.footer-third a:hover {
    color: #FF0420;
}

.footer .gm {
    display: inline-block;
    background: url("../images/GM-logo.svg") center center no-repeat;
    width: 32px;
    height: 32px;
    text-indent: -9999px;
    text-align: left;
}

.footer .gm:hover {
    transform: scale(1.1);
}

/* ==========================================================================
   Content
   ========================================================================== */

.intro-title h1,
.intro-title h1 a {
    margin: 0.5em 0 1.25em 0;
    font-family: 'Rubik', sans-serif;
    font-style: italic;
    font-weight: 600;
    font-size: 4.5rem;
    line-height: 5.6875rem;
    color: #212327;
}

.category-list h2 a {
    display: block;
    margin-bottom: 1em;
    font-family: 'Rubik', sans-serif;
    font-style: italic;
    font-weight: 600;
    font-size: 1.75rem;
    color: #212327;
}

.category-list h2 a:hover {
    color: #FF0420;
}

.category-list .more {
    font-weight: bold;
    color: #212327;
}

.category-list .more:hover {
    color: #FF0420;
}

/* ==========================================================================
   Media query
   ========================================================================== */

@media (max-width: 1920px) {

    .header-over .star {
        top: -3%;
        left: -49%;
    }

}

@media (max-width: 1680px) {

    .header-over .star {
        top: 0;
        left: -50%;
    }

}

@media (max-width: 1536px) {

    .header-over .star {
        top: 2%;
        left: -53%;
    }
}

@media (max-width: 1512px) {

    .header-over .star {
        top: 2%;
        left: -53%;
    }

}

@media (max-width: 1440px) {

    .header-over .star {
        top: 0%;
        left: -67%;
        width: 155%;
        height: 111%;
    }
}

@media (max-width: 1366px) {

    .header-over .star {
        top: 1%;
        left: -69%;
    }
}

@media (max-width: 1199px) {

    .header-over .star {
        top: 1%;
        left: -73%;
    }

    .header {
        padding-bottom: 0;
    }

    .header .navbar-toggler {
        height: 30%;
        padding: 12px;
        border: 2px solid #ffffff;
        color: #ffffff;;
        background-color: #ffffff;;
        border-radius: 0;
    }

    .header .navbar-toggler svg {
        fill: #FF0420;
    }

    #navbarDefault {
        margin-bottom: 2em;
    }

    .header .navbar-nav{
        padding-top: 2em;
        padding-bottom: 2em;
        border-top: 1px solid #ffffff;
        border-bottom: 1px solid #ffffff;
    }

    .header .navbar-nav .dropdown-menu {
        display: block;
        padding-left: 2em;
        background: none;
    }

    .home-slider .slider-left h3 a {
        font-size: 2rem;
        line-height: 1.2;
    }

}

@media (max-width: 1024px) {

    .header-over .star {
        top: 4%;
        left: -72%;
    }

}

@media (max-width: 991px) {

    .header-over .star {
        top: 4%;
        left: -73%;
    }
}

@media (max-width: 600px) {
    .header-over .star {
        top: -1%;
        left: -13%;
        background-image: url("../images/star-bg-mobile.svg");
    }

    .header-bottom .intro-image {
        text-align: center;
    }

    .home-about {
        padding: 5em 0;
        background: url("../images/home-about-bg.svg") center center no-repeat;
        background-size: cover;
    }

    .home-founded {
        background-size: 50%;
    }

    .home-founded h2 {
        font-size: 3.5rem;
        line-height: 3.6875rem;
    }

    .footer-first {
        margin-bottom: 3em;
    }

    .footer-second {
        margin-bottom: 3em;
    }

    .footer-third {
        text-align: left;
    }

    .category-projects .nav li {
        width: 100%;
        margin-bottom: 1em;
    }

    .category-projects .nav li a {
        display: block;
    }

    .intro-title h1, .intro-title h1 a {
        margin: 0.5em 0 1.25em 0;
        font-family: 'Rubik', sans-serif;
        font-style: italic;
        font-weight: 600;
        font-size: 1.5rem;
        line-height: 1.75rem;
        color: #212327;
    }

    .project-intro .img-holder {
        margin-right: 0;
        margin-bottom: 1em;
    }

    .project-intro img {
        width: 100%;
    }
}

@media (max-width: 480px) {

    .header-bottom h1 {
        font-size: 3em;
        line-height: 1.1;
    }

    .header-bottom .intro-image img {
        display: block;
        width: 100%;
    }

}

@media (max-width: 425px) {

}

@media (max-width: 375px) {


}

@media (max-width: 320px) {


}