@import url('fonts/fonts.css');
@import url("bootstrap.min.css");

/* ==========================================================================
   Global
   ========================================================================== */

body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1.125rem;
    color: #212327;
}

a {
    color: #527CBB;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    transition: all 200ms ease;
    outline: 0;
    text-decoration: none;
}

a:hover {
    color: #000000;
    text-decoration: none;
    outline: 0;
}

strong, b {
    font-weight: bold;
}

h1, h2, h3, h4, h5 {
    font-weight: 700;
    color: #000000;
}

input:focus, input.form-control:focus {
    outline: none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.img-responsive {
    display: block;
    width: 100%;
}

.display-mobile {
    display: none;
}

.container {
    max-width: 1420px;
}

/* ==========================================================================
   Header
   ========================================================================== */

.header-over{
    background-color: #FF0420;
}

.header {
    padding: 0 0 1em 0;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.08);
}

header.sticky {
    width: 100%;
    position: fixed !important;
    top: 0;
    z-index: 50;
    background-color: #FFFFFF;
}

.header .logo {
    display: block;
}

.header .navbar {
    padding: 0;
    margin: 0;
}

.header .navbar-nav .nav-link {
    display: inline-block;
    position: relative;
    margin: 0.5em 1em 0 1em;
    padding: 0;
    font-size: 1.125rem;
    font-weight: 700;
    color: #3D3D3D;
    text-transform: uppercase;
    transition: all 0.75s ease-in-out;
}

.header .navbar-nav .active .nav-link,
.header .navbar-nav .nav-link:hover,
.header .navbar-nav .nav-link:focus {
    color: #f9d309;
}

.header .navbar-nav .yellow .nav-link {
    background: #f9d309;
    border-radius: 7px;
    margin: 0 0 0 1.25em;
    padding: 0.5em 1em;
    font-weight: 600;
    font-size: 1.125rem;
    color: #000000;
    letter-spacing: 0;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
}

.header .navbar-nav .yellow .nav-link:hover,
.header .navbar-nav .yellow .nav-link:focus {
    transform: scale(1.1);
    box-shadow: 0px 7px 25px -10px rgba(0, 0, 0, 0.5);
    color: #000000;
}

.header .dropdown-toggle::after {
    display: none;
}

.header .dropdown-menu {
    padding: 0.5em;
    border-radius: 0;
    border: 1px solid #56C400;
}

.header .dropdown-menu a {
    font-size: 1rem;
    font-weight: 500;
    color: #000000;
    background: none;
}

.header .dropdown-menu a.active,
.header .dropdown-menu a:hover {
    background: none;
    color: #56C400;
}

.socials a {
    display: inline-block;
    margin: 0 0 0 .35em;
    width: 46px;
    height: 46px;
    text-indent: -99999px;
    transition: all 0.75s ease-in-out;
}

.facebook {
    background: url("../images/icon-facebook.svg") no-repeat center center;
}

.facebook:hover {
    background: url("../images/icon-facebook-hover.svg") no-repeat center center;
}

.linkedin {
    background: url("../images/icon-linkedin.svg") no-repeat center center;
}

.linkedin:hover {
    background: url("../images/icon-linkedin-hover.svg") no-repeat center center;
}

.youtube {
    background: url("../images/icon-youtube.svg") no-repeat center center;
}

.youtube:hover {
    background: url("../images/icon-youtube-hover.svg") no-repeat center center;
}

.search-holder-inner {
    background: #D9D9D9;
    border-radius: 90px;
    padding: 0.5em 1em;
}

.search-holder-inner .search-field {
    margin: 3px 0 0 0;
    background: none;
    border: none;
    box-shadow: none;
}

.search-holder-inner .search-field:focus {
    box-shadow: none;
}

.search-submit {
    width: 35px;
    height: 35px;
    border: none;
    background: url("../images/icon-search.svg") no-repeat center center;
    text-indent: -9999px;
    cursor: pointer;
}

.search-submit:hover,
.search-submit:focus {
    background: url("../images/icon-search.svg") no-repeat center center;
    box-shadow: none;
}

/* ==========================================================================
   Homepage
   ========================================================================== */

.content {
    padding: 3em 0;
}

.home-slider-wrapper {
    margin: 0 0 8em 0;
    background: #527CBB;
    border-radius: 20px;
    overflow: hidden;
}

.home-slider {
    height: 100%;
    margin: 0 0 1em 0;
}

.home-slider .carousel-inner {
    height: 100%;
    margin-bottom: 3em;
}

.home-slider .row {
    justify-content: center;
    align-items: center;
}

.home-slider .slider-left {
    padding: 3em 4em;
}

.home-slider .slider-left h3 {
    margin: 0 0 1.5em 0;
}

.home-slider .slider-left h3 a {
    font-style: normal;
    font-weight: 700;
    font-size: 1.5em;
    line-height: 1.5;
    color: #FFFFFF;
    transition: all 0.75s ease-in-out;
}

.home-slider .slider-left h3 a:hover {
    text-shadow: 10px 2px 4px rgba(0, 0, 0, 0.1);
}

.home-slider .slider-left .text {
    margin: 0 0 1em 0;
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 36px;
    color: #FFFFFF;
}

.home-slider img {
    display: block;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.home-slider .more {
    display: inline-block;
    background: #FFFFFF;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    transition: all 0.75s ease-in-out;
    padding: 0.35em 1.25em;
    font-style: normal;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 30px;
    color: #E95425;
    text-transform: uppercase;
    text-shadow: 10px 2px 4px rgba(0, 0, 0, 0.1);
}

.home-slider .more:hover {
    transform: scale(1.1);
}

.home-slider .carousel-indicators button {
    margin: 0 0.45em;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.home-slider-wrapper .slider-banner {
    display: block;
    height: 183px;
}

.home-slider-wrapper .slider-news {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    background-color: #71C194;
    padding: 0.5em 1em;
}

.home-slider-wrapper .slider-news span {
    display: block;
    padding: 0.125em 0;
    font-weight: 600;
    font-size: 1.125rem;
    color: #FFFFFF;
    letter-spacing: 0;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
}

.home-slider-wrapper .slider-news:hover .title {
    color: #FFFFFF;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.home-slider-wrapper .slider-news span.notice {
    padding: 1em 0 0 0;
}

.home-slider-wrapper .slider-news span.notice span {
    padding: 0;
    font-size: 1rem;
    display: inline-block;
    border-bottom: 1px solid #fff;
}

.home-slider-wrapper .slider-news span.more {
    padding: 0;
    text-align: right;
    font-size: 1rem;
}

.home-slider-wrapper .slider-islands {
    display: block;
    position: relative;
    height: 100%;
    background-color: #71C194;
}

.home-slider-wrapper .slider-islands .over {
    position: absolute;
    display: flex;
    padding: 1em 0.5em;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: space-around;
    font-weight: 600;
    font-size: 1.95rem;
    color: #000;
    letter-spacing: 0;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
    background-color: rgba(255, 255, 255, 0.35);
}

.home-slider-wrapper .slider-islands .over .info {
    text-align: left;
    font-size: 1.125rem;
    padding-bottom: 2em;
}

.home-slider-wrapper .slider-islands .over .info span {
    border-bottom: 1px solid #000;
}

.home-slider-wrapper .slider-islands .over .title {
    padding: 0 2em;
}

.home-slider-wrapper #carouselBanner,
.home-slider-wrapper .carousel-inner,
.home-slider-wrapper .carousel-item,
.home-slider-wrapper .slider-banner,
.home-slider-wrapper .carousel-item img,
.home-slider-wrapper .slider-islands img {
    height: 100%;
}

.content h2.lined {
    display: flex;
    align-items: center;
    margin: 0 0 1em 0;
    font-style: normal;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 60px;
    color: #000000;
}

.content h2.lined::after {
    content: '';
    flex: 1;
    margin-left: 2rem;
    height: 7px;
    background: #000000;
}


.home-intro .container-fluid {
    padding: 2em 0;
    background: linear-gradient(-180deg, #FFFFFF 0%, #FFFFFF 85%, #FDF9F6 85%);
}

.home-intro .container-fluid img {
    -webkit-border-top-left-radius: 400px;
    -webkit-border-bottom-left-radius: 40px;
    -moz-border-radius-topleft: 400px;
    -moz-border-radius-bottomleft: 40px;
    border-top-left-radius: 400px;
    border-bottom-left-radius: 40px;
}

.home-intro .over-div {
    position: absolute;
    width: 100%;
    top: 10em;
    z-index: 10;
}

.home-intro .over-div h2 {
    margin: 0 0 0.125em 0;
    font-weight: 500;
    font-size: 2.5rem;
    color: #D45987;
    line-height: 75px;
}

.home-intro .over-div h1 {
    margin: 0 0 0.5em 0;
    font-weight: 700;
    font-size: 3.75rem;
    color: #000000;
    line-height: 75px;
}

.home-intro .over-div .text {
    margin: 0 0 2em 0;
    font-weight: 500;
    font-size: 1.375rem;
}

.home-intro .over-div .btn-link {
    padding: 0.5em 1.25em;
    background: #D11E40;
    box-shadow: 2px 2px 10px 0 rgba(101, 105, 240, 0.25);
    border-radius: 2px;
    font-weight: 600;
    font-size: 1.125rem;
    color: #FFFFFF;
    letter-spacing: 0;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
}

.home-intro .over-div .btn-link:hover {
    background: #FFFFFF;
    box-shadow: 2px 2px 10px 0 rgba(101, 105, 240, 0.25);
    border-radius: 2px;
    color: #D11E40;
}

/* Tabs */
.hometabs {
    margin: 0;
}

.hometabs ul {
    padding: 0;
    margin: 0 0 2.5em 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.hometabs ul li {
    display: block;
    width: 25%;
    background: #527CBB;
}

.hometabs .wp-block-kadence-tabs .kt-tabs-id_067383-c8 > .kt-tabs-title-list li .kt-tab-title {
    background: #527CBB;
    border: none;
    padding: 0.5em 1em;
    font-style: normal;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 45px;
    text-align: center;
    color: #FFFFFF;
    transition: all 0.75s ease-in-out;
}

.hometabs .wp-block-kadence-tabs .kt-tabs-id_067383-c8 > .kt-tabs-title-list li.kt-tab-title-active .kt-tab-title,
.hometabs .wp-block-kadence-tabs .kt-tabs-id_067383-c8 > .kt-tabs-title-list li .kt-tab-title:hover,
.hometabs ul li.kt-tab-title-active .kt-tab-title,
.hometabs ul li .kt-tab-title:hover {
    background: #f9d309 !important;
    border-color: #f9d309 !important;
    color: #000 !important;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.home .hometabs ul li .kt-tab-title:hover .kt-title-text {
    color: #FFFFFF !important;
}

.hometabs .kt-tabs-content-wrap .wp-block-kadence-tab {
    margin: 0;
    padding: 0;
}

.hometabs .kt-tabs-content-wrap .wp-block-kadence-tab .kt-post-grid-layout-grid-wrap {
    gap: 40px;
}

.hometabs .kt-tabs-content-wrap .wp-block-kadence-tab article {
    border: none;
}

.hometabs .kt-tabs-content-wrap .wp-block-kadence-tab article .kt-blocks-post-grid-item-inner {
    padding: 1.5em 0;
}

.hometabs .kt-tabs-content-wrap .wp-block-kadence-tab article .kt-blocks-post-grid-item-inner .entry-title a {
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.5;
    color: #000000;
    transition: all 0.75s ease-in-out;
}

.hometabs .kt-tabs-content-wrap .wp-block-kadence-tab article .kt-blocks-post-grid-item-inner .entry-title a:hover {
    color: #f9d309;
}

.hometabs .kt-tabs-content-wrap .wp-block-kadence-tab article .kt-blocks-post-grid-item-inner .kt-blocks-post-top-meta {
    display: none;
}

.hometabs .kt-tabs-content-wrap .wp-block-kadence-tab .wp-block-kadence-advancedbtn .kb-button {
    background: #71C194;
    border: none;
    border-radius: 10px;
    padding: 0.5em 1.5em;
    font-style: normal;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 45px;
    text-align: center;
    color: #FFFFFF;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    transition: all 0.75s ease-in-out;
}

.hometabs .kt-tabs-content-wrap .wp-block-kadence-tab .wp-block-kadence-advancedbtn .kb-button:hover {
    color: #FFFFFF !important;
    transform: scale(1.1);
}

.home p {
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.5;
    color: #000000;
}

.home-projekti,
.wp-block-columns {
    margin: 0 0 3em 0;
}

.home-projekti article.kt-blocks-post-grid-item {
    border: none;
}

.home-projekti article.kt-blocks-post-grid-item .kt-blocks-post-grid-item-inner {
    padding: 2em 0;
    border: none;
}

.home-projekti article.kt-blocks-post-grid-item .kt-blocks-post-grid-item-inner .entry-title {
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.5;
    color: #000000;
    transition: all 0.75s ease-in-out;
}

.home-projekti article.kt-blocks-post-grid-item .kt-blocks-post-grid-item-inner .entry-title:hover {
    color: #E95425;
}

.big-green {
    background: #71C194 !important;
    border: none !important;
    border-radius: 10px !important;
    padding: 0.5em 1.5em !important;
    font-style: normal;
    font-weight: 700 !important;
    font-size: 1.125rem !important;
    line-height: 45px !important;
    text-align: center;
    color: #FFFFFF;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) !important;
    transition: all 0.75s ease-in-out !important;
}

.big-green:hover {
    transform: scale(1.1);
}

/* Home Education */

.home .edukativni .wp-block-heading.yellow {
    display: inline-block;
    padding: 10px;
    margin: 10px 0;
    background: #fcb900;
    font-size: 1.125rem !important;
    text-transform: uppercase;
    font-weight: 700;
    color: #ffffff;
}

/* Home Contact Form */
.home-forma {
    margin: 3em 0 3em 0;
}

.home-forma input[type="text"] {
    width: 100%;
}

.home-kontaktforma .kt-row-column-wrap {
    padding: 0 !important;
}

.home-forma .wp-block-themeisle-blocks-form-input.is-style-o-c-three-quarters {
    width: 100% !important;
    max-width: 90% !important;
}

.home-forma label,
.home-forma label .otter-form-input-label__label,
.home-forma label .otter-form-textarea-label__label {
    padding: 0 5px 0 0 !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 1.5rem !important;
    line-height: 150% !important;
    color: #000000 !important;
}

.home-forma input.otter-form-input,
.home-forma textarea {
    border: 2px solid #D9D9D9 !important;
    border-radius: 8px !important;
    margin-bottom: 2em !important;
}

.home-forma textarea {
    height: 189px !important;
}

.home-forma .wp-block-button__link {
    background: #71C194 !important;
    border: none !important;
    border-radius: 10px !important;
    padding: 0.5em 1.5em !important;
    font-style: normal !important;
    font-weight: 700 !important;
    font-size: 1.125rem !important;
    line-height: 45px !important;
    text-align: center !important;
    color: #FFFFFF !important;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) !important;
    transition: all 0.75s ease-in-out !important;
}

.home-forma .wp-block-button__link:hover {
    color: #FFFFFF !important;
    transform: scale(1.1);
}

.home-forma .kb-form .kadence-blocks-form-field .kb-forms-submit {
    background: #71C194 !important;
    border: none !important;
    border-radius: 10px !important;
    padding: 0.5em 1.5em !important;
    font-style: normal !important;
    font-weight: 700 !important;
    font-size: 1.125rem !important;
    line-height: 45px !important;
    text-align: center !important;
    color: #FFFFFF !important;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) !important;
    transition: all 0.75s ease-in-out !important;
    text-transform: uppercase;
}

.home-forma .kb-form .kadence-blocks-form-field .kb-forms-submit:hover {
    color: #FFFFFF !important;
    transform: scale(1.1);
}

/* ==========================================================================
   Footer
   ========================================================================== */

.footer {
    border-top: 7px solid #000000;
    padding: 3em 0 1em 0;
}

.footer .logo-footer img {
    width: 80%;
}

.footer .footer-first .text {
    padding: 3em 0 0 0;
}

.footer .footer-first .wp-block-columns.are-vertically-aligned-center {
    margin-bottom: 0;
}

.footer .footer-second p a {
    font-size: 1.125rem !important;
    line-height: 1.5 !important;
    color: #000000;
}

.footer h3 {
    margin: 0 0 1em 0;
    font-weight: 700;
    font-size: 2rem;
    line-height: 48px;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
}

.footer-third {
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-third .links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-third .links a {
    font-style: normal;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 30px;
    color: #000000;
}

.footer-third .links a:hover {
    color: #E95425;
}

.footer-second .content.lp-flex-container {
    padding: 0 0 1em 0;
}


/* ==========================================================================
   Content
   ========================================================================== */

.content {
    padding: 2em 0 2em 0;
}

.content .green {
    margin: 0 0 2em 0;
    padding: 1.5em 2em;
    background-color: #71c194;
    font-size: 1.25rem;
    font-weight: 700;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
}

.content .blue {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 108px;
    margin: 0 0 2em 0;
    padding: 1.5em 2em;
    background-color: #527cbb;
    font-size: 1.25rem;
    font-weight: 700;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
}

.content .kb-row-layout-wrap,
.content .wp-block-kadence-advancedbtn,
.content .wp-block-kadence-postgrid {
    margin: 0 0 3em 0;
}

.content .otok-mapa {
    text-align: center;
}

.content .kb-row-layout-wrap a {
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.5;
    color: #000000;
    transition: all 0.75s ease-in-out;
}

.content .kb-row-layout-wrap a:hover {
    color: #527cbb;
}

.content .kb-row-layout-wrap .entry-title a,
.home .content .kb-row-layout-wrap a {
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.5;
    color: #000000;
    transition: all 0.75s ease-in-out;
}

.content .kb-row-layout-wrap .entry-title a:hover,
.home .content .kb-row-layout-wrap a:hover {
    color: #f9d309 !important;
}

.content .kb-row-layout-wrap .wp-block-kadence-advancedheading {
    gap: 0.75em !important;
}

.content .wp-block-kadence-postgrid article {
    border: none;
}

.content .wp-block-kadence-postgrid article time {
    display: none;
}

.content .wp-block-kadence-postgrid .kt-blocks-post-grid-item .kt-blocks-post-grid-item-inner {
    padding: 1.5em 0 !important;
}

.content .wp-block-kadence-advancedbtn a {
    background: #71C194 !important;
    border: none;
    border-radius: 10px;
    padding: 0.5em 1.5em;
    font-style: normal;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 45px;
    text-align: center;
    color: #FFFFFF !important;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    transition: all 0.75s ease-in-out;
}

.home .content .wp-block-kadence-advancedbtn .kt-button a:hover,
.content .wp-block-kadence-advancedbtn a:hover {
    transform: scale(1.1);
    color: #FFFFFF !important;
}

.content .grey {
    padding: 2em 3em;
    background: #d9d9d9;
    gap: 4em;
}

.page-template-default .wp-block-kadence-infobox .kt-blocks-info-box-media-align-left {
    display: inline-block !important;
    padding: 0 !important;
    width: auto !important;
    font-size: 1rem !important;
}

.page-template-default .wp-block-kadence-advancedbtn .kt-button {
    background: #71C194 !important;
    border: none;
    border-radius: 10px !important;
    padding: 0.5em 1.5em !important;
    font-style: normal !important;
    font-weight: 700 !important;
    font-size: 1.125rem !important;
    line-height: 45px !important;
    text-align: center !important;
    color: #FFFFFF !important;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) !important;
    transition: all 0.75s ease-in-out !important;
}

.page-template-default .wp-block-kadence-advancedbtn .kt-button:hover {
    color: #FFFFFF !important;
    transform: scale(1.1) !important;
}

/* Page Filter */

.content-filter .filter {
    background-color: #527cbb;
    padding: 2em;
}

.content-filter .filter h3 {
    margin: 0 0 1em 0;
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 48px;
    color: #FFFFFF;
}

.content-filter .filter .search-holder {
    margin: 0 0 3em 0;
}

.content-filter .filter .search-holder-inner {
    background: #FFFFFF;
}

.content-filter .filter .search-holder-inner .search-field {
    color: #527CBB;
}

.content-filter .filter .box-filter {
    margin: 0 0 2em 0;
}

.content-filter .filter .box-filter.expand .checkboxes {
    overflow: hidden;
    /*max-height: 175px;*/
    display: none;
}

.content-filter .filter .box-filter.expanded .checkboxes {
    /*max-height: none;*/
    display: block;
}

.content-filter .filter .box-filter.expand h4 {
    cursor: pointer;
}

.content-filter .filter .box-filter.expand h4 span {
    display: inline-block;
    width: 45px;
    height: 24px;
    background: url("../images/icon-arrow-down.png") center center no-repeat;
    transition: all 0.3s ease-in-out;
}

.content-filter .filter .box-filter.expanded h4 span {
    background: url("../images/icon-arrow-up.png") center center no-repeat;
}

.content-filter .filter .box-filter-island .checkboxes {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.content-filter .filter .box-filter-island label {
    width: 49%;
}

.content-filter .filter h4 {
    margin: 0 0 1em 0;
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 36px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.container-checkbox {
    display: block;
    position: relative;
    padding: 0 0 0 35px;
    margin: 0 0 12px 0;
    cursor: pointer;
    font-size: 0.875rem;
    line-height: 1.65;
    word-break: break-all;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #FFFFFF;
}

.container-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    padding: 1px;
    background-color: transparent;
    border: 1px solid #434343;
    border-radius: 50%;
}

.container-checkbox:hover input ~ .checkmark {
    background-color: transparent;
}

.container-checkbox input:checked ~ .checkmark {
    background-color: transparent;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container-checkbox input:checked ~ .checkmark:after {
    display: block;
}

.container-checkbox .checkmark:after {
    height: 16px;
    width: 16px;
    top: 2px;
    left: 2px;
    border: none;
    background: #434343;
    border-radius: 50%;
}

.content-filter .filter .btn-reset {
    background: #FFFFFF;
    font-weight: 700;
    font-size: 1rem;
    line-height: 24px;
    text-align: center;
    color: #E95425;
    transition: all 0.75s ease-in-out;
}

.content-filter .filter .btn-reset:hover {
    background: #E95425;
    color: #FFFFFF;
}

.content-filter .post-content {
    overflow: hidden;
    margin: 0 0 2em 0;
    border-radius: 7px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.08);
}

.content-filter .post-content .image-holder {
    display: block;
    height: 100%;
    width: 100%;
    background-size: cover;
}

.post-content-right {
    padding: 1em;
}

.post-content-right h3 {
    margin: 0 0 0.25em 0;
}

.post-content-right h3 a {
    font-size: 1.125rem;
    line-height: 1.1;
    color: #0f0f0f;
    transition: all 0.75s ease-in-out;
}

.post-content-right h3 a:hover {
    color: #527cbb;
}

.post-content-right .meta {
    margin: 0 0 0.5em 0;
    line-height: 1.6;
    font-size: 1rem;
    font-weight: 400;
    color: #404040;
}

.post-content-right .text {
    margin: 0 0 1.5em 0;
}

.post-content-right .more {
    font-size: 1rem;
    font-weight: 500;
    color: #f9d309;
    transition: all 0.75s ease-in-out;
}

.post-content-right .more:hover {
    color: #527cbb;
}

.filter-list-over {
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 100;
}

.content-filter .page-numbers {
    display: inline-block;
    margin: 0 0.5em;
    padding: 10px 14px;
    background-color: #71c194;
    border: 1px solid #71c194;
    border-radius: 3px;
    font-size: 1rem;
    line-height: 1;
    font-weight: 500;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
    transition: all 0.75s ease-in-out !important;
}

.content-filter .page-numbers:hover,
.content-filter .page-numbers.current {
    background-color: #FFFFFF;
    color: #71c194;
}

/* Region */
.intro h1 {
    font-size: 2.5rem;
    font-weight: 700;
    text-transform: uppercase;
}

.intro .intro-title {
    margin: 0 0 2em 0;
    border-top: 4px solid #000;
    border-bottom: 4px solid #000;
}

.content-region h2.lined {
    margin: 0 0 1em 0;
}

.region-general h2 {
    padding: 1.5em 2em;
    background-color: #527cbb;
    font-size: 1.25rem;
    font-weight: 700;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
}

.islands-list {
    margin: 0 0 4em 0;
}

.islands-list a {
    display: block;
    position: relative;
}

.islands-list a img {
    display: block;
    width: 100%;
}

.islands-list a span {
    position: absolute;
    display: inline-block;
    bottom: 0;
    left: 0;
    padding: 0.75em 1.5em;
    font-size: 1.25rem;
    font-weight: 700;
    color: #527cbb;
    background-color: rgba(255, 255, 255, 0.61);
    text-transform: uppercase;
    transition: all 0.75s ease-in-out;
}

.islands-list a:hover span {
    color: #E95425;
}

/* Island */
.intro-place .back,
.intro-island .back {
    display: inline-block;
    padding: 0 60px 0 0;
    background: url("../images/left-arrow.png") no-repeat right center;
    line-height: 1.5;
    font-weight: 600;
    font-size: 1.5rem;
    color: #000000;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
}

.intro-place .back:hover,
.intro-island .back:hover {
    color: #D11E40;
}

.intro-island .btn-modal {
    display: inline-block;
    padding: 0 60px 0 0;
    background: url("../images/icon-bread.png") no-repeat right center;
    border: none;
    line-height: 1.3;
    font-weight: 600;
    font-size: 1.5rem;
    color: #000000;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
}

.intro-island .btn-modal:hover {
    color: #D11E40;
}

.intro-island .modal-header {
    background: #527CBB;
}

.intro-island .modal-header h2 {
    width: 100%;
    font-size: 1.5rem !important;
    font-weight: 700;
    color: #FFFFFF;
    text-transform: uppercase;
    text-align: center;
}

.intro-island .modal-body a {
    display: block;
    margin: 0 0 1em 0;
    background: #71C194;
    border: none;
    border-radius: 6px;
    padding: 0.25em 1em;
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 45px;
    text-align: center;
    color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: all 0.75s ease-in-out;
}

.intro-island .modal-body a:hover {
    transform: scale(1.1);
}

.content-island .general-island h2 {
    min-height: 3px;
}

.content.content-island .general-island h2.yellow {
    display: block !important;
    width: 100% !important;
    margin: 0 0 2em 0 !important;
    padding: 1.5em 2em !important;
    background-color: #f9d309 !important;
    font-size: 1.25rem !important;
    font-weight: 700 !important;
    text-align: center !important;
    line-height: 24px !important;
    color: #FFFFFF !important;
    text-transform: uppercase !important;
}

.islands-projects-list .image-holder {
    display: block;
    width: 100%;
    height: 250px;
}

.islands-projects-list {
    padding-top: 1em;
    padding-bottom: 2em;
}

.islands-projects-list img {
    flex: 1;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    padding-bottom: 1.5em;
}

.islands-projects-list h2 {
    padding-bottom: 0.5em;
}

.islands-projects-list h2 a {
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.5;
    color: #000000;
    transition: all 0.75s ease-in-out;
}

.islands-projects-list .button-holder {
    padding: 3em 0 1em 0;
    text-align: right;
}

.islands-projects-list .button-holder a {
    display: inline-block;
    background: #71C194 !important;
    border: none;
    border-radius: 10px;
    padding: 0.5em 1.5em;
    font-style: normal;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 45px;
    text-align: center;
    color: #FFFFFF !important;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    transition: all 0.75s ease-in-out;
}

.islands-projects-list .button-holder a:hover {
    transform: scale(1.1);
    color: #FFFFFF !important;
}

/* Single News */
.content-post {
    padding-top: 0;
}

.content-post-image {
    background-repeat: no-repeat;
    height: 600px;
    background-attachment: fixed;
    background-position: 50% 50%;
    background-size: cover;
}

.content-post .container-inside {
    position: relative;
    margin: -8em 0 4em 0;
    padding: 3em 2em;
    background: #FFFFFF;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) !important;
}

.content-post .container-inside h1 {
    margin: 0 0 0.5em 0;
    font-style: normal;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 60px;
    color: #527CBB;
}

.content-post-intro {
    margin: 0 0 3em 0;
    padding-bottom: 1em;
    border-bottom: 3px solid #000;
}

.content-post-intro .author {
    font-weight: 700;
    color: #000000;
    transition: all 0.75s ease-in-out;
}

.content-post-intro .author:hover {
    color: #527CBB;
}

.content-post-left h2,
.content-post-left h3,
.content-post-left h4 {
    color: #527CBB;
}

.content-post-left .tags span {
    display: inline-block;
}

.content-post-left .tags a {
    display: inline-block;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    color: #000000;
    text-decoration: underline;
    transition: all 0.75s ease-in-out;
}

.content-post-left .tags a:hover {
    color: #527CBB;
}

.content-post-right h3 {
    margin: 0 0 1em 0;
    font-style: normal;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 30px;
    color: #527CBB;
    text-transform: uppercase;
}

.content-post-right .box a {
    margin: 0 0 2em 0;
}

.content-post-right .box a span {
    display: block;
}

.content-post-right .box a .image-holder {
    background-color: #ccc;
    height: 100px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

.content-post-right .box a .title {
    padding: 0 0 0 1em;
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 24px;
    color: #000000;
    transition: all 0.3s ease-in-out;
}

.content-post-right .box a:hover .title {
    color: #527CBB;
}

.content h2.wp-block-heading.yellow {
    display: inline-block !important;
    width: auto !important;
    background: #fcb900;
    border: 0 solid transparent;
    transition: all .3s cubic-bezier(.17, .67, .35, .95);
    color: #ffffff;
    font-size: 1.125rem;
    line-height: 18px;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 700;
    padding: 0.75em 1em;
    margin: 0.5em 0 1em 0;
}

/* Island lists */
.content-islands h2 {
    display: flex;
    align-items: center;
    margin: 0 0 1em 0;
    font-style: normal;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 60px;
    color: #000000;
}

.content-islands h2::after {
    content: '';
    flex: 1;
    margin-left: 2rem;
    height: 7px;
    background: #000000;
}

.content-islands h2 a {
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 60px;
    color: #000000;
    transition: all 0.3s ease-in-out;
}

.content-islands h2 a:hover {
    color: #527CBB;
}

/* ==========================================================================
   Media query
   ========================================================================== */

@media (max-width: 1920px) {
}

@media (max-width: 1680px) {

    .container {
        max-width: 1270px;
    }

}

@media (max-width: 1440px) {

}

@media (max-width: 1366px) {

}

@media (max-width: 1199px) {

    .header {
        padding-bottom: 0;
    }

    .header .navbar-toggler {
        padding: 12px;
        border: 2px solid #F9D309;
        color: #F9D309;
        background-color: #F9D309;
        border-radius: 50%;
    }

    .header .navbar-toggler svg {
        fill: #FFFFFF;
    }

    #navbarDefault {
        margin-bottom: 2em;
    }

    .header .navbar-nav .yellow .nav-link {
        margin: 0.5em 1em 0 1em;
    }

    .home-slider .slider-left h3 a {
        font-size: 2rem;
        line-height: 1.2;
    }

}

@media (max-width: 1024px) {

}

@media (max-width: 991px) {

    .home-slider-wrapper .slider-right img {
        width: 100%;
    }

    .hometabs ul li {
        width: 50%;
        flex: 0 1 50% !important;
    }

    .content-filter .filter {
        padding: 1em;
        margin-bottom: 3em;
    }

    .content-filter .filter h3 {
        display: flex;
        margin-bottom: 0;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
    }

    .content-filter .filter h3 span {
        display: inline-block;
        width: 55px;
        height: 50px;
        margin-right: 0.25em;
        background: url("../images/icon-tune.svg") no-repeat center center;
        background-size: 70%;
    }

    .filter-inner {
        display: none;
    }

    .filter-inner.expanded {
        display: block;
        padding-top: 2em;
    }

    .content-filter .post-content .image-holder {
        height: 300px;
    }

}

@media (max-width: 600px) {

    .content .kb-row-layout-wrap .kt-tab-title {
        padding: 0.5em 1em !important;
        font-weight: 700 !important;
        font-size: 1.125rem !important;
        line-height: 45px !important;
    }

    .content .wp-block-kadence-advancedbtn a,
    .hometabs .kt-tabs-content-wrap .wp-block-kadence-tab .wp-block-kadence-advancedbtn .kb-button,
    .home-forma .wp-block-button__link {
        padding: 0.5em 1em !important;
        width: 100% !important;
        font-size: 1rem;
        max-width: unset !important;
    }

    .home-slider-wrapper .slider-news,
    .home-slider-wrapper .slider-banner {
        height: auto;
    }

    .home-slider-wrapper .slider-news span.notice {
        padding-bottom: 1em;
    }

    .home-slider-wrapper .slider-news span {
        font-size: 1rem;
        padding: 0 2em;
    }

    .home-slider-wrapper .slider-islands .over {
        font-size: 1rem;
    }

    .home-slider-wrapper .slider-islands .over .info {
        font-size: 0.75rem;
        padding-bottom: 1em;
    }

    .home-forma input.otter-form-input, .home-forma textarea {
        margin-bottom: 0 !important;
    }

    .home-forma .wp-block-themeisle-blocks-form-input.is-style-o-c-three-quarters {
        max-width: 100% !important;
    }

    .intro h1 {
        text-align: center;
    }

    .intro-island .btn-modal {
        font-size: 1.125rem;
    }

    .intro-place .back, .intro-island .back {
        font-size: 1.125rem;
    }

    .intro-title .img-holder {
        text-align: center;
    }

}

@media (max-width: 480px) {

    .header .logo img {
        width: 100%;
    }

    .header .socials {
        padding: 0 0 2em 0;
        text-align: center;
    }

    .header .search-holder {
        padding: 0 1em;
    }

    .home-slider .slider-left {
        padding: 1em;
    }

    .content h2.lined {
        font-size: 1.5rem;
    }

    .footer-second,
    .footer h3, .footer-third {
        text-align: left;
    }

    .footer-third .socials {
        margin-bottom: 2em;
    }

}

@media (max-width: 425px) {

}

@media (max-width: 375px) {


}

@media (max-width: 320px) {


}